/* css reseet*/
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Playfair+Display:ital@1&family=Roboto&family=Varela+Round&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.center {
    text-align: center;
}

.fig__img {
    display: block;
    width: 100%;
    height: auto;
}

/* Banner section */
.banner{
    min-height: 50vh;
    background-image:url(images/resized.jpg);
    background-size: cover;
    width: 100%;
    padding: 12rem 0;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #8b8b8b;
    background-position: center;
}

.navbar{
    padding: 15px 30px;
    background-color: hwb(0 93% 7% / 0.979);
    transition: all .5s;
}
.nav {
    position: sticky;
    top: 0;
    z-index: 2;
    border-top: 1px solid #5650af;
    border-bottom: 1px solid #5650af;
}
.nav ul {
    background-color: hwb(0 93% 7% / 0.979);
    display: flex;
    list-style: none;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    height: 40px;
    align-items: center;
}
.nav a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    transition: all 0.5s;
    font-weight: bolder;
    padding: .5rem 1rem;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav a:hover{
    opacity: 0.8;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.content{  
    width: 100%;
    /* position: absolute; */
    top: 50%;
    /* transform: translateY(-50%); */
    text-align: center;
    color: #fff; 
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 1.4rem;
}

.number-con{
    margin-block-start: 0px !important;
    position: relative;
    padding: 0.5rem;
    font-size: clamp(2.5rem,7vh, 70px);
}
.number-con + p {
    font-size: clamp(1.5rem, 3vh, 2.5rem);
    line-height: 1.2;
    padding: 0.5rem;
}
.rc-number{
    position: absolute;
    bottom: -10px;
    right: 10px;
    font-size: 1rem;
    font-family: cursive;
    color: #6761c4;
}

/* Product section */
.product-wrapper {
    width: 100%;
    background-color: white;
    padding: 5% 5%; 
}

.product__h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product__p {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.product__article {
   padding: 60px 0;
}

.order {
    order: -1;
}

hr {
    height: 5px;
    border: none;
    background-color: hwb(0 93% 7% / 0.979);
}

.product__article{
    display: flex;
}

.article__figure {
    flex-basis: 50%;
    flex: 1;
}

.article__div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div__h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.div__p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}
/* About css */
.about-item{
    padding: 15px;
}
.about{
    scroll-margin-top: 3rem;
    font-size: 1.5rem;
    padding: 25px 50px;
    background-color: hwb(0 93% 7% / 0.979);
    color:#080808;
    text-align: justify;
    min-height: 60vh;
}
.about-con{
    /* margin: 0 auto; */
    padding: 20px 40px;
}
.about-con h1{
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    color: #111111;
}
.about-main{
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.about-text{
    width: 60%;
    font-size: 1.3rem;
}
.about-text p:first-child{
     padding-bottom: 1rem;
}
.about-photo{
    overflow: hidden;
    border-radius: 10px;
    width: 25%;
    align-self: center;
}
.about-photo img {
    display: block;
    width: 100%;
    height: auto;
}

/* contact  */
.contact {
    background-color: hwb(0 100% 0% / 0.979);
    padding-top: .5rem;
    padding-bottom: .5rem;

}
.connect-with-us {
    display: flex;
    justify-content: center;
    line-height: 24px;
    font-weight: bolder;
}
.connect-with-us p {
    margin-right: 1rem;
}
.phone p, .email p {
    margin-right: .3rem;
}
.connect-with-us img{
    margin-right: .5em;
}
.phone {
    line-height: 24px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.phone a, .email a{
    text-decoration: none;
    color: black;
}
.email {
    line-height: 24px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

/* Footer */
footer {
    background: hwb(0 100% 0% / 0.979);
}
.footer{
    background: hwb(0 100% 0% / 0.979);
    text-align: center;
    padding: 1rem 2rem;
    font-weight: bold;
}
.footer a{
    text-decoration: none;
    color: black;
}
.f1{
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1rem 3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #ffffff;
}
.f1 img{
    background: rgba(0, 0, 0, 0);
    width: 300px;
    height: 150px;
}
.our-clients {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding: 10px 20px;
    background: hwb(0 100% 0% / 0.979);
    text-align: center;
}



@media (max-width: 600px) {
    .product-item {
        width:100%;
        margin-bottom: 15px;
    }
    .product-main{
        display: block;
    }
    .f1 {
        display: block;
    }
    .f1 img {
        width: 100%;
        
    }
    .rc-number {
        bottom: -16px;
    }
    #Products img {
        width: 320px;
    }
    .grid {
        display: block;
    }
    .grid > img + img {
        margin-top: 1rem;
    }
    .grid > img {
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
    .about-text {
        text-align: initial;
    }
    .product__article{
        display: flex;
        flex-direction: column;
    }
    .order {
        order: 0;
    }
    .f1 img {
        display: block;
        width: 200px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .article__figure {
        max-width: 100%;
        
    }
    .fig__img {
        width: 100% !important;
    }
} 

@media (max-width: 820px) {
    .grid {
        display: block;
    }
    .grid > img + img {
        margin-top: 1rem;
    }
    .grid > img {
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
}

@media (max-width: 1250px) {
    .about{
        padding: 0;
    }
    .about-con {
        padding: 20px 15px;
    }
}

@media (max-width: 1000px) {
    .about-main{
        display: block;
    }
    .about {
        display: flex;
        align-items: center;
        min-height: 50vh;
    }
    .about-text{
        width: 100%;
    }
    .about-photo{
        display: none;
    }
}

@media (min-width: 1000px) {
    .navbar {
        padding: 15px 50px;
    }
} 
@media (max-height: 570px) {
    .banner {
        padding: clamp(2rem, 5vh, 8rem) 0;
    }
}